body 
{
   margin: 0;
   font-family: Calibri, sans-serif;
   background-color: #D5C6EA;
   color: #333;
   align-items: center;
   min-height: 100vh;
   text-align: center;
}
header 
{
  background-color: #F2F2F2;
  color: #2B6777;
  padding: 20px;
  font-size: 24px;
}
li
{
   list-style-type: none;
}
img
{
  width: auto;
  height: 150px;
  margin: 20px 0;
}
h1, h2
{
  margin: 10px 0;
}
 td, th
{
   border: 2px solid black;
   padding: 15px;
}
