body 
{
   margin: 0;
   font-family: Calibri, sans-serif;
   background-color: #D5C6EA;
   color: #333;
   align-items: center;
   min-height: 100vh;
   text-align: center;
}
header 
{
  background-color: #F2F2F2;
  color: #2B6777;
  padding: 20px;
  font-size: 24px;
}
li
{
   list-style-type: none;
}
table
{
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
}
img
{
  width: auto;
  height: 150px;
  margin: 20px 0;
}
h1, h2
{
  margin: 10px 0;
}
p
{
  max-width: 600px;
  margin: 10px auto;
  line-height: 1.6;
}
a
{
  color: #2B6777;
  text-decoration: none;
}
